body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color: #FFFCF9;
    font-family: 'Oswald', sans-serif;
}
header {
    display: flex;
    padding: 10px 200px;
	background-color: #C4B7CB;
    border-radius: 10px;
    align-items: center;
}
img {
    width: 200px;
    border-radius: 20px;
}
h1 {
    font-family: 'Cinzel', serif;
    padding: 0px 40px;
    color: #FFFCF9;
}
h2 {
    color: #474973;
	margin-bottom: .5rem;
}
main {
	padding: 1rem;
}
li {
    margin: 5px;
}
p {
	text-align: center;
	padding: 5px;
	font-size: smaller;
    margin: 0px;
    color: #474973;
}
footer {
	background-color: #C4B7CB;
    border-radius: 10px;
    padding: 10px 370px;
}